body {
	background: url(../img/background/bg-1.avif) !important;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-color: #fff;
}